# Mot de passe pour l'utilisateur 'elastic' (au moins 6 caractères)
ELASTIC_PASSWORD=change_me

# Mot de passe pour l'utilisateur 'kibana_system' (au moins 6 caractères)
KIBANA_PASSWORD=change_me

# Version des produits Elastic
STACK_VERSION=8.17.0

# Nom du cluster
CLUSTER_NAME=docker-cluster

# Type de licence
LICENSE=basic

# Port HTTP d'Elasticsearch
ES_PORT=9200

# Port de Kibana
KIBANA_PORT=5601

# Limite mémoire par conteneur
MEM_LIMIT=1g
